.profile__edit-button {
   height: 24px;
   width: 24px;
   margin: 40.75px 0 0 18px;
   transition: .1s linear;
   
}
   

.profile__edit-button:hover {
   opacity: .6;
}

@media (max-width:495px) {
   .profile__edit-button {
      margin: 33.75px 0 0 10px;
      height: 18px;
      width: 18px;



   }
}