.popup__container {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 430px;
    height: 330px;
    align-self: center;
    margin: 0 auto;
    border-radius: 3%;
    padding: 34px 36px 37px 36px;
    box-sizing: border-box;


}

@media (max-width:530px) {
    .popup__container {
        width: 282px;
        height: 322px;
        padding: 25px 22px;
        box-sizing: border-box;
    }
}