.element__heart {
    background-image: url(../../../images/Heart-2.svg);
    width: 22px;
    height: 19px;
    margin-left: auto;
    transition: .1s linear;


}

.element__heart:hover {
    opacity: .8;

}