.header__line {
    background-color: rgba(84, 84, 84, 0.7);
    max-width: 880px;
    height: 1px;
    margin: 41px auto;
  
}

@media (max-width: 338px) {
    .header__line {
        margin: 31.6px 0 38.25px;
    }
}