.elements {
    display: grid;
    grid-template-columns: repeat(3, 282px);
    justify-content: center;
    gap: 17px;
    margin: 45px auto 67px;
}

@media (max-width: 890px) {
    .elements {
        grid-template-columns: repeat(2, 282px);
    }

}

@media (max-width: 600px) {
    .elements {
        grid-template-columns: 282px;
    }

}

@media (max-width: 638px) {
    .elements {
        margin: 36px 0 48px;
    }

}