.profile__button {
    border: 2px solid white;
    height: 50px;
    width: 150px;
    margin: auto 0 auto auto;
    transition: .1s linear;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    outline: none;
    background:transparent;
    
}

.profile__button:hover {
    opacity: .6;
}


@media (max-width:638px) {
    .profile__button {
        margin: 36px auto 0;
        width: 282px;

    }
}
@media (max-width:381px) {
    .profile__button {
        margin: 36px 40px 0;
       

    }
}
@media (max-width:352px) {
    .profile__button {
        margin: 36px auto 0;
       

    }
}