.profile__avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    
    top: -120px;
    transition: 0.2s linear;
}

.profile__avatar:hover{
   opacity: 0.2;
}







@media (max-width:380px) {
    .profile__avatar {
        margin-right: 30px ;
        

    }
}
@media (max-width:338px) {
    .profile__avatar {
        margin: 0;
        

    }
}