.footer__title {
    color: #545454;
    margin: 0;
    font-size: 18px;
    line-height: 21.78px;
    font-weight: 400;
}

@media (max-width:890px) {
    .footer__title {
        margin-left: 19px;
        font-size: 14px;
        line-height: 16.94px;
        font-weight: 400;
    }
}