.element__heart-button{
    background: url(../../../images/Heart-2.svg);
    
    width: 22px;
    height: 19px;
    transition: .1s linear;
    border: none;
    outline: none;
    padding: 0;
    z-index: 1;
   
}
.element__heart-button:hover{
    opacity: .5;
}